.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.register-card {
       background-color: #E0AED0;
       width: 31rem !important;
       height: 40rem !important;
       margin: 20px 0 20px 0 !important;
       padding: 20px;
       border: 2px solid #4230a9;
       box-shadow: 4px 4px 8px rgba(0, 0, 0, 1)
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y);
    color: #4230a9;
    font-size: 2rem;
    margin-bottom: 30px;    
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    --bs-btn-color: #FFE5E5;
    --bs-btn-bg: #756AB6;
    --bs-btn-border-color: #756AB6;
    --bs-btn-hover-color: #FFE5E5;
    --bs-btn-hover-bg: #4230a9;
    --bs-btn-hover-border-color: #4230a9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #FFE5E5;
    --bs-btn-active-bg: #4230a9;
    --bs-btn-active-border-color: #4230a9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FFE5E5;
    --bs-btn-disabled-bg: #756AB6;
    --bs-btn-disabled-border-color: #756AB6;
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    font-family: 'Roboto Mono';
    color: #FFE5E5;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: #FFE5E5;
}

.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color: #756AB6;
}