.aboutUs {
    margin: 1.5rem 2.5rem 0 2.5rem;
    padding: 2rem 10rem ;
    background-color: #E0AED0;
}

.titleUs {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #756AB6;
}

h4 {
    color: #756AB6;
}